In [5]:
import pandas as pd

splits = {'train': 'data/train-00000-of-00001-0e84cb2beba9ea7e.parquet', 'test': 'data/test-00000-of-00001-df4a3dda87fb136c.parquet'}
df = pd.read_parquet("hf://datasets/jbrazzy/baby_names/" + splits["train"])

/Users/luisnieblarios/projects/micrograd/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
df

           Names Sex  Count  Year
0          Emily   F  25957  2000
1         Hannah   F  23085  2000
2        Madison   F  19968  2000
3         Ashley   F  17997  2000
4          Sarah   F  17708  2000
...          ...  ..    ...   ...
1084380   Zyheem   M      5  2019
1084381    Zykel   M      5  2019
1084382   Zyking   M      5  2019
1084383      Zyn   M      5  2019
1084384    Zyran   M      5  2019

[1084385 rows x 4 columns]

In [8]:
df['Names']

0            Emily
1           Hannah
2          Madison
3           Ashley
4            Sarah
            ...
1084380     Zyheem
1084381      Zykel
1084382     Zyking
1084383        Zyn
1084384      Zyran
Name: Names, Length: 1084385, dtype: object